@media screen and (max-width: 300px) {
    #general {
        color:$negro;
        font-family: Raleway;
        font-size: 10pt;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        }
    
    main.mainIndex{
        background-image: url(../images/iconobackground.png);
        background-repeat: no-repeat;
        background-size: 22.5em;
        background-position-x: 0px;
        background-position-y: 0px;
        width: 22.5em;
        margin-bottom: 80em;

            div.main__container { 

                ul.main__cards{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 20px;
                    list-style-type: none;
                    justify-content: flex-start;
                    align-items: center;
                    width: 20em;
            
                    li.main__cards__images {
                        display: flex;
                        flex-direction: row-reverse;
                        background-color: white;
                        border-radius: 20px;
                        justify-content: center;
                        align-content: center;
                        filter: blur(2px);
                        filter: grayscale(100);
            
                        a {
                            img {
                                width: 80%;
                            }
                        }
                    }
            
                    li.main__cards__images:hover {
                        animation-name: cardsColor;
                        animation-duration: 1s;
                        animation-fill-mode: both;
                    }
            
                    @keyframes cardsColor {
                        from {filter: blur(2px);}
                        to {filter: blur(0px);}
                    } 
                }
             
        }
    }
    section.section {
        background-image: url(../images/fondo.jpg);
        color: $negro;
        width: 22.5em;

            iframe#section__video {
                display: inline;
                border-radius: 20px;
                margin: 0;
                filter: grayscale(100);
                top: 4em;
                transform: translate(0em,10em);
            }
            iframe#section__video:hover{
                animation-fill-mode: both;
                animation-name: multimedia;
                animation-duration: 2s;
            }
            
            iframe#section__map {
                display: none;
            }
            iframe#section__map:hover{
                animation-fill-mode: both;
                animation-name: multimedia2;
                animation-duration: 2s;
            }
            @keyframes multimedia {
                from {filter: grayscale(100);}
                to {filter: grayscale(0);}
            }
            @keyframes multimedia2 {
                from {filter: grayscale(100);}
                to {filter: grayscale(0);}
            }
    }   
    .servicios {
    margin: 0;
    background-image: url(../images/backgroundservicios.jpg);
    background-size: 90em;
    background-repeat: no-repeat;

    .servicios__boxOfBoxes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0; 

            .servicios__boxServicios {
                display: none;
                text-align: center;
                width: 20em;
                height: 20em;
                right: 3em;
                background-color: white;
                border-radius: 50px;
                background-image: url(../images/graphic-design.png);
                background-repeat: no-repeat;
                background-size: 50px;
                background-position-x: 125px;
                background-position-y: 210px;
                position: relative;
                filter:drop-shadow(1px 1px 1px  rgb(226, 226, 226));
            
                ul{
                    list-style: none;
                    color: $negro;
                    font-size: 12pt;
                    padding: 10px;
            
                    li{
                        list-style: none;
                        color: $negro;
                        padding: 1px;
                        padding-top: 10px;
                        font-weight: lighter;
                    }
                }
            }
            
            .servicios__boxEncargar {
                    display: none;
                    list-style: upper-roman;
                    list-style: inside;
                    text-align: center;
                    width: 20em;
                    height: 20em;
                    right: 3em;
                    background-color: white;
                    border-radius: 50px;
                    background-image: url(../images/creativity.png);
                    background-repeat: no-repeat;
                    background-size: 50px;
                    background-position-x: 125px;
                    background-position-y: 210px;
                    position: relative;
                    top: 0px;
                    filter:drop-shadow(1px 1px 1px  rgb(226, 226, 226));
            
                    ol{
                    list-style-type: upper-roman;
                    list-style-position: inside;
                    color: black;
                    font-size: 10pt;
                    padding: 10px;
            
                        li{
                            list-style: upper-roman;
                            list-style-position: inside;
                            color: black;
                            padding: 1px;
                            padding-top: 5px;
                            font-weight: lighter;
                        }
                    }
                }
            
            .servicios__boxCategorias {
                    position: relative;
                    top: 0px;
                    right: 3em;
                    list-style: upper-roman;
                    list-style: inside;
                    text-align: center;
                    width: 20em;
                    height: 20em;
                    background-color: white;
                    border-radius: 50px;
                    background-image: url(../images/layers.png);
                    background-repeat: no-repeat;
                    background-size: 50px;
                    background-position-x: 125px;
                    background-position-y: 210px;
                    line-height: 15px;
                    display: none;
                    filter:drop-shadow(1px 1px 1px  rgb(226, 226, 226));
            
                    ul{
                    list-style-type: upper-roman;
                    list-style-position: inside;
                    color: black;
                    font-size: 8pt;
                    padding: 10px;
                    padding-top: 15px;
            
                    li{
                        list-style: upper-roman;
                        list-style-position: inside;
                        color: black;
                        padding: 1px;
                        padding-top: 10px;
                        font-weight: lighter;
            
                        ol{
                            list-style: upper-roman;
                            list-style-position: inside;
                            color: black;
                            padding: 1px;
                            padding-top: 2px;
                            font-weight: lighter;
                        }
                    }
                }
            }
        }    
    } 
/*--Fonts--*/
    h1  {
        color: rgb(24, 26, 24);
        font-family: Raleway;
        font-size: 13pt;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 1.5em;
        letter-spacing: 1em;
        text-align: center;
        text-decoration: overline;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-top: 2em;
        margin-left: 1em;
    } 
    h2 {
        color: rgb(24, 26, 24);
        font-family: Raleway;
        font-size: 12pt;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 1.5em;
        letter-spacing: 0.4em;
        text-align: center;
        text-decoration: overline;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p.section__text {
        left: 2em;
        width: 14em;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
    }
/*--Links--*/
    .contacto__buttonLink {
        color: $negro;
        display: unset;
        background-color: white;
        border-radius: 20px;
        text-decoration: none;
        position: relative;
        top: 2em;
        left: 0.6em;
        font-weight: normal;
        font-size: large;
    }
    #section__buttonLink {
        color: $blanco;
        display: inline-flex;
        background-color: black;
        border-radius: 20px;
        text-decoration: none;
       
    }
    .servicios__buttonLink {
        color: $blanco;
        background-color: black;
        border-radius: 20px;
        text-decoration: none;
        position: relative;
        left: 1.6em;
        font-weight: lighter;
        font-size: large;

    }

/*--Boxes--*/    

.pageServicios__boxServicios {
    display: inline-block;
    text-align: center;
    width: 20em;
    height: 300px;
    right: 3em;
    background-color: white;
    border-radius: 50px;
    background-image: url(../images/graphic-design.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 125px;
    background-position-y: 210px;
    position: relative;
    filter:drop-shadow(1px 1px 1px  rgb(226, 226, 226));

    ul{
        list-style: none;
        color: $negro;
        font-size: 12pt;
        padding: 10px;

        li{
            list-style: none;
            color: $negro;
            padding: 1px;
            padding-top: 10px;
            font-weight: lighter;
        }
    }
}
.pageServicios__boxEncargar {
    display: inline-block;
    list-style: upper-roman;
    list-style: inside;
    text-align: center;
    width: 20em;
    height: 300px;
    right: 3em;
    background-color: white;
    border-radius: 50px;
    background-image: url(../images/creativity.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 125px;
    background-position-y: 210px;
    position: relative;
    top: 0px;
    filter:drop-shadow(1px 1px 1px  rgb(226, 226, 226));
    
    ol{
    list-style-type: upper-roman;
    list-style-position: inside;
    color: black;
    font-size: 10pt;
    padding: 10px;
    
    li{
        list-style: upper-roman;
        list-style-position: inside;
        color: black;
        padding: 1px;
        padding-top: 5px;
        font-weight: lighter;
    }
    }
}
.pageServicios__boxCategorias {
        position: relative;
        top: 0px;
        right: 3em;
        list-style: upper-roman;
        list-style: inside;
        text-align: center;
        width: 20em;
        height: 300px;
        background-color: white;
        border-radius: 50px;
        background-image: url(../images/layers.png);
        background-repeat: no-repeat;
        background-size: 50px;
        background-position-x: 125px;
        background-position-y: 210px;
        line-height: 15px;
        display: inline-block;
        filter:drop-shadow(1px 1px 1px  rgb(226, 226, 226));

        ul{
        list-style-type: upper-roman;
        list-style-position: inside;
        color: black;
        font-size: 8pt;
        padding: 10px;
        padding-top: 15px;

        li{
            list-style: upper-roman;
            list-style-position: inside;
            color: black;
            padding: 1px;
            padding-top: 10px;
            font-weight: lighter;

            ol{
                list-style: upper-roman;
                list-style-position: inside;
                color: black;
                padding: 1px;
                padding-top: 2px;
                font-weight: lighter;
            }
        }
    }
}
/*--Contacto--*/
legend {
    width: 6em;
}
fieldset {
    width: 22em;
}
textarea {
    width: 20em;
}
.pageContacto {
    .pageContacto__select {
        margin-top: 40px;
        background-color: black;
        color: white;
        border-radius: 20px;
        padding: 10px;
    
        .pageContacto__select__option {
            background-color: black;
            color: white;
            font-weight: bolder;
        }
    }
    .pageContacto__input {
        width: 17em !important;
    }
    img.pageContacto__img {
        width: 17em;
        height: 25em;
        position: relative;
        top: 0.01em;
        left: 4em;
        border-radius: 20px;
    }
}
/*--Servicios--*/
.pageServicios {
    
    .pageServicios__modal {
        display: none;
    }
    .pageServicios__table {
        display: unset;
        margin: 3em 0 3em 0;
        float: left;
        position: relative;
        right: 4em;
        tr {
            th.pageServicios__tableQueries__th {
                padding: 10px;
                font-size: 14pt;
            }
            td.pageServicios__tableQueries__td {
                font-weight: lighter;
                padding: 10px;
                font-size: 12pt;
                max-width: 110px;
            }
        }
    }
}  
/*--SobreNosotros--*/
.pageSobreNosotros {
        .pageSobreNosotrosBox {
            margin-left: 3em;
            .pageSobreNosotros__boxProfesiones {
                font-size: 16pt;
                font-weight: normal;
            }
            .pageSobreNosotros__boxUbicaciones {
                li {
                font-size: 16pt;
                font-weight: bold;
                line-height: 1.3;
                ol {
                font-size: 14pt;
                font-weight: normal;
                line-height: 1.2;
                }
                }
            }
            .pageSobreNosotros__boxEstudios {
                font-size: 16pt;
                ol {
                    list-style-type: georgian;
                    list-style-position: inside;
                }
            }
        }

        #pageSobreNosotros__flexbox {
            display: flex;
            border-radius: 20px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 50px 0 50px 0;
            height: max-content;
            background-repeat: no-repeat;
            height: 30em;

            .pageSobreNosotros__flexbox__img1 {
                width: 280px;
                position: relative;
                border-radius: 20px;
            }
            .pageSobreNosotros__flexbox__img2 {
                position: relative;
                width: 240px;
                height: 50px;
                border-radius: 20px;
                background-color: black;
            }
            .pageSobreNosotros__flexbox__img3 {
                width: 280px;
                position: relative;
                float: right;
                border-radius: 20px;
            }
            
        }
    }
/*--Galería--*/
    .galeria__title {
        width: 100%;
        text-align: center;
    }
    .galeriaCarousel {
        display: none;
    }
    .galeriaCarouselQueries{
        display: inherit;
        width: 170%;
        right: 6.9em;
        position: relative;
    }
    .carousel-control-prev {
        display: none;
    }
    .carousel-control-next {
        position: absolute;
        background-color: black;
        height: 5em !important;
        width: 5em !important;
        border-radius: 25px;
        left: 17em;
        filter: opacity(0.5);
    }
}